/* latin */
@font-face {
  font-family: 'Roboto-thin';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Light"), url(fonts/Roboto-Thin.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(fonts/Roboto-Regular.ttf) format("truetype"); }
html {
  font-family: 'Roboto-thin', sans-serif; }
  html body {
    clear: both; }
    html body .radial-scale {
      float: left;
      position: relative;
      width: 600px;
      height: 600px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      html body .radial-scale .day-dial {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1; }
        html body .radial-scale .day-dial .absolue-center {
          position: relative; }
          html body .radial-scale .day-dial .absolue-center .days {
            position: absolute;
            text-align: right;
            border-bottom: 1px dotted #000000;
            width: 275px;
            height: 1px;
            transform-origin: 0% 0%; }
            html body .radial-scale .day-dial .absolue-center .days .day-wrapper {
              position: absolute;
              left: 100%;
              bottom: 0;
              display: inline-block;
              text-align: left;
              font-size: 10px; }
              html body .radial-scale .day-dial .absolue-center .days .day-wrapper .day-number {
                border-radius: 50%;
                padding: 3%; }
              html body .radial-scale .day-dial .absolue-center .days .day-wrapper.top-ten .extra-text {
                position: relative;
                padding: 3% 0 3% 10px;
                margin-left: -7px; }
                html body .radial-scale .day-dial .absolue-center .days .day-wrapper.top-ten .extra-text:before, html body .radial-scale .day-dial .absolue-center .days .day-wrapper.top-ten .extra-text:after {
                  content: ' ';
                  position: absolute;
                  height: 100%;
                  top: -1.5%;
                  background-color: inherit; }
                html body .radial-scale .day-dial .absolue-center .days .day-wrapper.top-ten .extra-text:before {
                  right: 100%;
                  border-top-left-radius: 50%;
                  border-bottom-left-radius: 50%;
                  width: 11px; }
                html body .radial-scale .day-dial .absolue-center .days .day-wrapper.top-ten .extra-text:after {
                  left: 100%;
                  border-top-right-radius: 50%;
                  border-bottom-right-radius: 50%;
                  width: 15px; }
      html body .radial-scale .radial-slider {
        position: absolute;
        left: 50%;
        top: 50%; }
        html body .radial-scale .radial-slider .absolute-center {
          position: relative; }
          html body .radial-scale .radial-slider .absolute-center .circle {
            position: absolute;
            transform-origin: 0% 0%; }
            html body .radial-scale .radial-slider .absolute-center .circle .circle-pie {
              position: absolute;
              right: 0;
              transform: rotate(268deg);
              z-index: 50; }
            html body .radial-scale .radial-slider .absolute-center .circle .slider-cursor {
              position: absolute;
              right: -9px;
              bottom: -20px;
              cursor: pointer;
              z-index: 99; }
      html body .radial-scale .radial-center {
        display: inline-table;
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: #00857f;
        color: #ffffff;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
        html body .radial-scale .radial-center .total-value {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
          html body .radial-scale .radial-center .total-value p {
            margin-bottom: 5px; }
          html body .radial-scale .radial-center .total-value strong {
            font-family: 'Roboto', sans-serif;
            font-size: 40px; }
          html body .radial-scale .radial-center .total-value div {
            margin-top: 5px; }
            html body .radial-scale .radial-center .total-value div i {
              margin-right: 5px; }
    html body .radial-monitors {
      float: right;
      width: 250px; }
      html body .radial-monitors .monitor h4 {
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 0; }
      html body .radial-monitors .monitor .calc-day {
        border-right: 1px solid; }
      html body .radial-monitors .monitor .calc-day,
      html body .radial-monitors .monitor .calc-value {
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
        padding: 10px 20px; }
        html body .radial-monitors .monitor .calc-day p,
        html body .radial-monitors .monitor .calc-value p {
          margin-top: 0;
          margin-bottom: 5px; }
        html body .radial-monitors .monitor .calc-day span,
        html body .radial-monitors .monitor .calc-value span {
          font-family: 'Roboto', sans-serif;
          font-size: 15px; }
          html body .radial-monitors .monitor .calc-day span.emphasize,
          html body .radial-monitors .monitor .calc-value span.emphasize {
            font-size: 25px; }
        html body .radial-monitors .monitor .calc-day i,
        html body .radial-monitors .monitor .calc-value i {
          font-size: 20px; }
      html body .radial-monitors #calc1 {
        background-color: #ebedee;
        color: #3f515b; }
        html body .radial-monitors #calc1 h4 {
          background-color: #3f515b; }
        html body .radial-monitors #calc1 .calc-day {
          border-color: #3f515b; }
      html body .radial-monitors #calc2 {
        background-color: #eaf1f4;
        color: #307591; }
        html body .radial-monitors #calc2 h4 {
          background-color: #307591; }
        html body .radial-monitors #calc2 .calc-day {
          border-color: #307591; }
      html body .radial-monitors #calc3 {
        background-color: #f2e5e6;
        color: #830009; }
        html body .radial-monitors #calc3 h4 {
          background-color: #830009; }
        html body .radial-monitors #calc3 .calc-day {
          border-color: #830009; }

/*# sourceMappingURL=style.css.map */
